<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">A blogging platform that is all about you.</p>
    <hr class="my-4">
    <p>Ready to start your blogging journey? Click below to join the community and start today!</p>
    <p class="lead">
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </p>
  </div>
</div>

<div class="h1">Test</div>