.search_top {
  margin-bottom: -67.25px;
}

.search {
  padding-top: 80px;
}

#search_results {
  margin-bottom: -67.25px;
}

#users_search_container {
  margin-top: -67.25px;
}

#articles_search_container {
  margin-top: -67.25px;
}

#no_results {
  padding-top: 80px;
}